p#notice
  = notice
h1
  = @genre.name

= render 'show_field', label_text: 'Name', text_block: (@genre.name)
= render 'show_field', label_text: 'Description', text_block: (@genre.description)

= link_to 'Edit', edit_genre_path(@genre), class:"btn btn-primary"
= link_to 'Back', genres_path, class:"btn btn-primary"
